name: Build and Deploy Web - DEV
on:
  push:
    branches:
      - master
    paths-ignore:
      - packages/functions/**
      - packages/app/**

env:
  FB_PROJECT: coh2-ladders-prod
  FB_HOSTING: hosting:coh2-ladders-dev

jobs:
  build-deploy-web:
    name: Deploy Web Dev
    environment:
      name: dev
      url: https://coh2-ladders-dev.web.app/
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Setup Node
        uses: actions/setup-node@master
        with:
          node-version: "14.x"
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-v1
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Install Deps
        run: yarn install
      - name: Fix the bug ISSUE 1078
        run: yarn run "react-spring-issue-1078"
      - name: Build the app
        run: |
          export NODE_OPTIONS=--max_old_space_size=4096
          CI=false yarn web build
      - name: Deploy to Firebase
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN_CI_PROD}}
        # Something is wrong with firebase-tools in the CI
        run: |
          npm install -g firebase-tools
          firebase use $FB_PROJECT --token $FIREBASE_TOKEN
          firebase deploy --only $FB_HOSTING --token $FIREBASE_TOKEN -m "CI deploy ${{ steps.get_version.outputs.VERSION }}" --non-interactive
