name: Build Electron app
on:
  push:
    branches:
      - master
    paths-ignore:
      - packages/functions/**
      - packages/web/**

jobs:
  build_on_win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-desktop-app-modules-v1
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn app make
      - name: Upload the build
        uses: actions/upload-artifact@v2
        with:
          name: coh2-game-stats-dev-${{github.sha}}
          path: |
            packages/app/out/make/squirrel.windows/x64/*.exe
