name: Run tests
on:
  pull_request:

jobs:
  unit_tests:
    name: Prettier and Unit Tests
    runs-on: ubuntu-latest

    concurrency:
      group: tests-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "yarn"
      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules-v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Install Web Project
        run: yarn install --frozen-lockfile
      - name: Check the code
        run: |
          yarn lint:prettier
      - name: Run web tests
        run: |
          yarn web test
      - name: Run web build
        run: |
          CI=false yarn web build
